.history {
    width: 980px;
    height: 1214px;
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top {
    position: fixed;
    left: 90%;
    top: 50%;
}

.top::before {
    font-family: 'icomoon';
    content: '\ea41';
    font-size: 20px;
}

.hd_history {
    height: 33px;
    line-height: 33px;
    background: linear-gradient(rgb(226, 226, 226), rgb(253, 253, 253));
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0 15px;
}

.hd_history h5 {
    float: left;
    font-size: 14px;
}

.hd_history .location1 {
    float: right;
}

.bd_history {
    position: relative;
    height: 1180px;
    border: 1px solid #ccc;
    background-color: rgba(240, 240, 240, .1);
}

.bd_history .box h3 {
    font-weight: bold;
    font-size: 14pt;
    color: #1556b8;
    line-height: 150%;
    font-family: 宋体;
    text-align: center;
    margin-top: 30px;
}

.bd_history .box p {
    font-size: 10pt;
    color: #5e5e5e;
    line-height: 150%;
    font-family: 宋体;
    margin: 20px 30px;
}

.bd_history .box span {
    font-family: 宋体;
    font-size: 14pt;
}

.bd_history .box h4 {
    text-indent: 2em;
}

.bd_history .img1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 377px;
    height: 109px;
    background: url(../images/2_c10.png) no-repeat 5px;
}