.info_technology {
    width: 980px;
    height: 450px;
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hd_info_technology {
    height: 33px;
    line-height: 33px;
    background: linear-gradient(rgb(226, 226, 226), rgb(253, 253, 253));
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0 15px;
}

.hd_info_technology h5 {
    float: left;
    font-size: 14px;
}

.hd_info_technology .location1 {
    float: right;
}

.bd_info_technology {
    position: relative;
    height: 413px;
    border: 1px solid #ccc;
}

.bd_info_technology ul li {
    height: 20px;
    margin: 10px;
}

.bd_info_technology ul li a:hover {
    color: rgb(204, 0, 0);
}

.bd_info_technology ul li .rf {
    float: right;
}

.bd_info_technology .img1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 377px;
    height: 109px;
    background: url(../images/2_c10.png) no-repeat 5px;
}